.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b6cbe3;
}

a{
  margin: 0px 5px 0px 0px;
  text-decoration: none;
}

.active{
  color: blue;
  text-decoration: underline;
}